.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(6px);
    padding: 40px;
    max-width: 400px;
    width: 100%;
    gap: 10px;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    @media screen and (max-width:480px) {
        padding: 20px;
        max-width: 500px;
    }

    .signup-header {
        font-size: 2rem;
        color: var(--text-color);
    }

    label {
        font-size: 1rem;
        color: var(--text-color);
        font-size: 18px;
        align-self: flex-start;
    }

    .signup-input {
        width: 90%;
        font-size: 1rem;
    }
}