@keyframes slideIn {
    from {
        transform: translateY(150%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(150%);
    }
}

.main {
    overflow: hidden;

    .quiz-card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        align-items: center;
        gap: 20px;
        color: #000;

        h2 {
            font-weight: 600;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;
        }

        .quiz-card {
            padding: 20px;
            border-radius: 8px;
            min-width: 200px;
            justify-content: center;
            display: flex;
            align-items: center;
            background-color: var(--secondary-color);
            color: white;
            flex-grow: 1;
            transition: 0.2s ease all;

            &:hover {
                transform: scale(0.9);
                cursor: url(../../assets/target-curser.svg), auto;
                background-color: var(--primary-color);
            }
        }
    }

    

    .show-btn {
        position: fixed;
        bottom: 0;
        padding: 10px 20px;
        border-radius: 12px 12px 0 0;
        left: 50%;
        transform: translate(-50%);
        background: var(--secondary-color);
        border: none;
        color: var(--text-color);
        font-size: 16px;
    }
}