.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    top: 0;
    position: sticky;
    background: var(--primary-color);

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        & img {
            max-width: 70px;
            height: auto;
        }

        & p {
            color:  #fff;
            font-size: 1.4rem;
            text-transform: capitalize;
        }
    }

    .btn-container {
        display: flex;
        gap: 10px;

        .logout:hover {
            background: red;
        }
    }
}