:root {
    /* Light Theme */
    --primary-color: #C38EB4;
    --secondary-color: #E1CBD7;
    --text-color: #232F47;
    --mid-color: #66A8CF;
    --background-color: #FAF9FA;
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #26425A;
        --secondary-color: #66A8CF;
        --text-color: #E1CBD7;
        --mid-color: #C38EB4;
        --background-color: #232F47;
    }
}

body {
    font-family: "Poppins", "Arial";
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

body {
    font-family: "Poppins", "Arial";
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
ul,
li,
span {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

.btn {
    background: var(--secondary-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s ease all;
}

.home-btn {
    max-width: 160px;
    width: 100%;
    max-height: 50px;
    height: 100%;
    background: var(--mid-color);
    font-size: 24px;
    color: var(--text-color);
    align-items: center;
    display: flex;
    transition: 0.3s ease all;
    padding: 20px 10px;
    justify-content: center;
}

.home-btn:hover {
    background: var(--secondary-color);
    color: var(--mid-color);
}

.btn:hover {
    background: var(--primary-color);
    color: var(--mid-color);
}

input {
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    transition: 0.2s ease all;
}

input:focus {
    outline: var(--primary-color);
    box-shadow: 3px 4px 10px 2px #3c7168;
}

.error {
    text-align: center;
    color: red;
}

.leader-error {
    font-size: 24px;
}


::-webkit-scrollbar {
    display: none;
}


/* Basic loader */
.basicLoader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid var(--secondary-color);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}